# Build output
app/build/
build/
out/
*.apk
*.aab
*.zip

# Gradle
.gradle/
.kotlin/
local.properties

# IDE
.idea/
*.iml
*.hprof

# OS
.DS_Store
Thumbs.db

# Signing (jangan pernah masuk repo)
*.jks
*.keystore
keystore.b64
app-signing/
